			<input type="text" class="form-control" placeholder="filename" aria-label="filename" ng-model="filenameFilter">
			<div class="row justify-content-md-center">
				<div class="card col-md-4 mt-2" ng-repeat="it in folders | filter: { object: { properties : { 'cmis:name' : { value: filenameFilter } } } }" >	
					<div class="card-body">
						<h5 class="card-title">{{ it.object.properties['cmis:name'].value }}</h5>
						<pre style="height:20em"> {{ it.fileContent }} </pre>
						
						<button class="btn btn-primary" ng-click="loadFileContent(it)">load file content </button>
						
					</div>
				</div>
			</div>	