<!DOCTYPE html>
<html>
	<head>
		<title>Dashboard configuration module</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	</head>
	<body ng-app="alfrescoApp">
	
		<div class="container" ng-controller="appController">
			<div class="row justify-content-md-center">
				<div class="card col-md-3">
					<div class="card-body">
						<input type="text" ng-model="user.username" class="form-control m-2">
						<input type="password" ng-model="user.password" class="form-control m-2">
						<input type="text" class="m-2 form-control" ng-model="selectClause"> 
						<div class="btn-group btn-group-sm m-2 w-100" role="group">
							<button class="btn btn-primary w-50" ng-click="onCmisSend()">coimponents files</button>
							<button class="btn btn-danger w-50" ng-click="namedQuery()">custom query</button>
						</div>
					</div>
				</div>
				<div class="card col-md-6">
					<div class="card-body">
						<h2 class="card-title text-center">Config options</h2>
						
						<label class="sr-only" for="urlFormGroup">Endpoint</label>
						<div class="input-group mb-2 mr-sm-2">
							<input type="text" class="form-control" id="urlFormGroup" placeholder="Endpoint" ng-model="cmisEndpoint">
						</div>
					</div>
				</div>
				<div class="card col-md-3">
					<div class="card-body">
						<div class="btn-group-vertical w-100 m-0">
							<a type="button" class="btn btn-primary" href="/">rootPage</a>
							<a type="button" class="btn btn-secondary" href="#!/repository">root</a>
							<a type="button" class="btn btn-primary">3</a>
							<a type="button" class="btn btn-secondary">4</a>
						</div>
					</div>
				</div>
			</div>

			
			<div class="row justify-content-md-center">
				<div class="card col-md-3 m-5" ng-repeat="folder in queryResult.results">
					<div class="card-body">
						{{ folder.properties['cmis:name'].value }} 
					</div>
				</div>
			</div>
			
		
		</div>
		<ng-view></ng-view>

		<link rel="stylesheet" href="/css/bootstrap.css">
		
		<script type="text/javascript" src="/js/angular.js"></script>
		<script type="text/javascript" src="/js/angular-route.js"></script>
		<!--script type="text/javascript" src="/js/bootstrap.js"></script-->
		<script type="text/javascript" src="/js/jquery.js"></script>
		<script type="text/javascript" src="/ng-app/alf-mdl.js"></script>
		<script type="text/javascript" src="/ng-app/app-controller.js"></script>
		<script type="text/javascript" src="/ng-app/alf-routes.js"></script>
		<script type="text/javascript" src="/ng-app/user-dashboard/user-dashboard-service.js"></script>
		<script type="text/javascript" src="/ng-app/repository-view/repo-list-view-ctrl.js"></script>
		
	</body>
</html>